@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;


}

b button {
  border: 1px solid rgb(105, 197, 255);
  border-radius: 5px;
  background-color: rgb(227, 248, 255);
  color: rgb(105, 197, 255);
  text-align: center;
  padding: 5px;
}

.titulo {
  font-size: 40px;
  color: white;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;

}

.adicionar {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

#tasks {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  color: orange;
  

}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

:checked+label {
  text-decoration: line-through;
  color: rgb(238, 234, 10);
  padding: 10px;
}

.footer,
a {
  margin-top: 200px;
  font-size: 14px;
  color: gray;
  
}